* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #ffffffe9;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  border-radius: 20px;
}
.square:hover {
  box-shadow: 25px 25px 15px rgba(0, 0, 0, 0.5), 12px 15px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-4px);
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  justify-content: end;
}
.titleTxt {
  color: white;
  display: flex;
  justify-content: center;
}
.timeTravel {
  padding:1rem;
}

.timeBG {
  border-radius: 30px;
  margin:2rem 0 0 0;
  background-color: rgba(255, 255, 255, 0.75);
  height:fit-content;
  width:290px;
}

.desButton {
  background-color: #53131E;
  color:rgb(227, 223, 223);
  height:35px;
  width:210px;
  margin-top:1rem;
  border-radius: 10px;
}
.desButton:hover {
  box-shadow: 6px 6px 2px #000000;
  transform: translate(-4px,-4px);
}

.gameBackground {
  background-image: url(./assets/background.gif);
  background-size: cover;
  min-height: 100vh;
  background-position: -13rem;
  overflow-y: hidden;
}

.sound {
  background-image: url(./components/musicComponent/assets/sound.png);
  height:100px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255,0.75);
  width:100px;
  position: absolute;
  background-size: cover;
  border-radius: 300px;
  margin-top:15rem;
}

.sound:hover{
  transform: translateY(-2px);
}
.mute {
  background-image: url(./components/musicComponent/assets/mute.png);
  height:100px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255,0.75);
  width:100px;
  position: absolute;
  background-size: cover;
  border-radius: 300px;
  margin-top:15rem;
}

.mute:hover{
  transform: translateY(-2px);
}

